<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>

<table align="center" border="2" width="60%" hight="100%">
      <tr>
      	<td align="right">
      		<a href="#">TRACK ORDER</a>
	<a href="#">COSTOMER CARE</a>
</td>
</tr>

<td>

      	<table border="2" width="100%" hight="100%"  >
      		
       	<tr  >
       		
       	</tr>
       	<tr >
       	
       		<td rowspan="2" height="280px" width="20%" >

       			<img src="../pic/unitlogo.jpeg" height="130px" width="240px" border="1">
       		
       				 <a href ="#">Electronic Devices</a><br>
<a href ="#">Electronic_Accessories</a><br>
<a href ="#">TV_&_Home_Appliances</a><br>
	<a href ="#">Health & Beauty</a><br>
	<a href ="#">Babies & Toys</a><br>
	<a href ="#">Groceries & Pets</a><br>
	<a href ="#">Home & Lifestyle</a><br>
	<a href ="#">Women's Fashion</a><br>
	<a href ="#">Men's Fashion</a><br>
	<a href ="#">Watches & Accessoriess</a><br>
       			
</td>

<td align="center">
	<form action="search.php">
	 <input type="text" placeholder="Search.." >

	 <button>
	 <i class="fab fa-searchengin"></i>
	</button>
</form>
</td>
<td align="right">
  <a href="shop.html"> Login as a Seller</a>
</td>


</tr>

<td colspan="2" >
	<img src="../pic/unitlogo.jpeg" height="300px" width="100%"  border="1">
</td>


</table>



	<form method="post" action="../controller/logCheck.php" >
		

				<table width="50%" align="center" border="2" style="background-color: #E882EE" >
				<tr>
					<td>
						<table align="center">
							<tr>
								<td>
									<br>
			<label>User Name</label>   
       
      </td>
      <tr>
      	<td>
          <input type="text" name="username">   
          
      </td>
  </tr>
  <tr>
  	<td>
          <label>Password</label>
       
       </td>
   </tr>
   <tr>
   	<td>
          <input type="password" name="password">
          </td>
      </tr>
      <tr>
      	<td>
      		<br>
          <input type="submit" name="submit" value="Login" align="right">
          <a href="forgot.php">Forget Password</a>
        </td>
    </tr>
      
         <tr>
         	<td>
         		<br>
        <a href="signup.html">Signup</a>
      </td>
  </tr>
  <tr>
  	<table align="right"><tr>

<td align="right" >
	<br>

          <a href="https://www.facebook.com/">
            <img src="../pic/fb.png"  border-redius="30%" style="width:40px">
          </a>
          <a href="https://myaccount.google.com/?utm_source=sign_in_no_continue">
          <img src="../pic/google.png" alt="Avatar" border-redius="30%" style="width:40px">
        </a>
        <a href="https://twitter.com/login?lang=en">
          <img src="../pic/tweet.jpg" alt="Avatar" border-redius="30%" style="width:40px">
        </a>
        <tr align="right">
        	<td>
        <a href="index.html">Back</a>

            </td>
        </tr>
    </table>
        </tr>
        </tr>
    </table>
</td>
</tr>
</table>
</form>
</td>
</tr>
</table>
	</form>


</td>
</table>


<footer  style="background: pink ">
	<table align="center"  width="60%" hight="100%" >
		<tr>
			<td align="center" >
	<label>	<b>	Customer Care</b></label>
	<br>
	<a href="#" >Help Center</a><br>
	<a href="#">How to Buy</a><br>
	<a href="#">Track Your Order</a><br>
	<a href="#">Returns & Refunds</a><br>
	<a href="#">Contact Us</a><br>
</td>

<td align="center">
<label><b>	Earn With unit</b></label>
	<br>
	<a href="#">Sell on</a><br>
	<a href="#">Code of Conduct</a><br>
	<a href="#">Track Your Order</a><br>
	<a href="#">Taking a shop in unit</a><br>

	</td>
	<tr>
		<td align="center">
<label><b>	Unit</b></label>
	<br>
	<a href="#">About</a><br>
	<a href="#">Digital Payments</a><br>
	<a href="#">Terms & Conditions</a><br>
	<a href="#">Privacy Policy</a><br>
	<a href="#">App</a><br>

</footer> 
</body>
</html>