<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
</head>
<body>

 <!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<body>

     <table align="center" border="2" width="60%" hight="100%">
      <tr>
        <td align="right">
          <a href="#">TRACK ORDER</a>
  <a href="#">COSTOMER CARE</a>
</td>
</tr>

<td>

        <table border="2" width="100%" hight="100%"  >
          
        <tr  >
          
        </tr>
        <tr >
        
          <td rowspan="2" height="300px" width="20%" >

            <img src="../pic/unitlogo.jpeg" height="110px" width="250px" border="1">
          
               <a href ="#">Electronic Devices</a>
<a href ="#">Electronic_Accessories</a><br>
<a href ="#">TV_&_Home_Appliances</a><br>
  <a href ="#">Health & Beauty</a><br>
  <a href ="#">Babies & Toys</a><br>
  <a href ="#">Groceries & Pets</a><br>
  <a href ="#">Home & Lifestyle</a><br>
  <a href ="#">Women's Fashion</a><br>
  <a href ="#">Men's Fashion</a><br>
  <a href ="#">Watches & Accessoriess</a><br>
            
            
</td>

<td align="center">
  <form >
   <input type="text" placeholder="Search.." >
</form>
</td>


</tr>

<td colspan="2" >
  <img src="../pic/unitlogo.jpeg" height="300px" width="100%"  border="1">
</td>

<tr>

    <td colspan="3">
      <table border="2" align="center" style="background-color: 
      #C870F9" width="50%">
        <tr>
          <td>
      

 <form method="post" action="../controller/regCheck.php">
		<fieldset>
			<legend>Registration</legend>
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username" value="" required="true"> </td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" value=""
            required="true"> </td>
				</tr>
				<tr>
					<td>Confirm Password</td>
					<td><input type="password" name="repass" value=""
            required="true"> </td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="email" name="email" value=""
            required="true"> </td>
				</tr>

				<tr>
					<td>Address</td>
					<td><input type="address" name="address" value=""required="true"> </td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="signup" value="Submit"> 
						<a href="login.html">Login</a>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</td>
</tr>
</table>

</td>
</tr>
</table>



          </td>
        </tr>

       </table>

<footer  style="background: pink ">
  <table align="center"  width="60%" hight="100%" >
    <tr>
      <td align="center" >
  <label> <b> Customer Care</b></label>
  <br>
  <a href="#" >Help Center</a><br>
  <a href="#">How to Buy</a><br>
  <a href="#">Track Your Order</a><br>
  <a href="#">Returns & Refunds</a><br>
  <a href="#">Contact Us</a><br>
</td>

<td align="center">
<label><b>  Earn With unit</b></label>
  <br>
  <a href="#">Sell on</a><br>
  <a href="#">Code of Conduct</a><br>
  <a href="#">Track Your Order</a><br>
  <a href="#">Taking a shop in unit</a><br>

  </td>
  <tr>
    <td align="center">
<label><b>  Unit</b></label>
  <br>
  <a href="#">About</a><br>
  <a href="#">Digital Payments</a><br>
  <a href="#">Terms & Conditions</a><br>
  <a href="#">Privacy Policy</a><br>
  <a href="#">App</a><br>




    </td>
  </tr>
</table>

</foot



</body>
</html>